#objeto1{
    background-color: rgb(126, 126, 218);
    text-align: center;
    height: 50px;
}
#objeto2{
   text-align: center;
    background-color: mediumaquamarine;
    height: 300px;
 
}
#objeto3{
   text-align:center ;
    background-color: rgb(204, 181, 152);
    height: 300px;
}
