.container{
    font-size: 30px;
    
}

header{
    background-color: teal;
    height: 50px;
   
}

article{
    background-color: thistle;
    height: 300px;
}



section{
    background-color: yellow;
    height: 200px;
}

aside{
    background-color: blue;
    height: 400px;
}

footer{
    background-color:aqua; 
    height: 50px;
    left: 10rem;
    
}