
#objeto1{
    background-color: rgb(35, 35, 124);
    height: 10rem;
}
#objeto2{
    height: 10rem;
    background-color: mediumaquamarine;
}
#objeto3{
    
   height: 10rem;
    background-color: rgb(204, 181, 152);
}

#objeto4{
    background-color: rgb(84, 84, 138);
    height: 10rem;
}
